body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5EEDF;
}

li {
  display: inline-block;
  padding: 8px;
}

h1{
  margin-left: 45px;
  font-size: 25px;
}

header {
  padding: 2px;
  font-weight: 800;
  background-color:#FCD53F;
}

#search {
  float: right;
  margin-right: 45px;
}

#logo-menu {
  float: left;
  margin-right: 60px;
}

a {
  text-decoration: none;
  color: black;
}
